/* profile.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.profile-info {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  margin: 20px;
}

.profile-picture {
  width: 220px; /* Adjust the width to your preference */
  height: 220px; /* Adjust the height to your preference */
  border: 2px solid #007bff; /* Add a border around the profile picture */
  border-radius: 50%;
  overflow: hidden; /* Hide any overflowing content within the profile picture container */
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  text-align: center; /* Center the text within the profile details */
  line-height: 1.6;
}

.edit-profile-button-container {
  text-align: center; /* Center the button horizontally */
  margin-top: 20px;
}

.edit-profile-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.edit-profile-button:hover {
  background-color: #0056b3;
}
