/* register.css */
html {
  height: 100%;
  overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../../static/images/register_background.jpeg");
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    text-align: center;
  }
  
  h1 {
    color: #007bff;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="password"],
  form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    font-size: 14px;
    color: #333;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  